.wrapper {
    width: 100%;
}

.navbar {
    background-color: var(--main-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    z-index: 1000;
    /* Đảm bảo rằng header hiển thị trên các phần tử khác */
}

.text-nav {
    color: black;
}

.search_form {
    height: 40px;
}

.main {
    margin-top: 100px;
    width: 100%;
    height: 500px;
}

footer {
    background-color: var(--ground-color);
}