
.carousel .carousel-item img {
  height: 400px;
  object-fit: cover;
  /* Đảm bảo ảnh không bị méo khi thay đổi kích thước */
  border-radius: 10px;
  margin: auto !important;
  display: block !important;
}
